<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.nfdz.cryptool">

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        android:required="false" />
    <!-- [GITHUB_UPDATE_FEATURE_FLAG] -->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <!-- [SMS_FEATURE_FLAG] -->
    <uses-permission
        android:name="android.permission.SEND_SMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        android:required="false" />

    <application
        android:name=".CryptoolApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cryptool"
        tools:targetApi="s">
        <activity
            android:name=".AppActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="io.github.nfdz.cryptool.OPEN_FLOATING_BALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ball.OverlayBallService"
            android:exported="false" />

        <service
            android:name=".service.tool.OverlayToolService"
            android:exported="false" />

        <!-- [SMS_FEATURE_FLAG] -->
        <receiver
            android:name=".platform.broadcast.SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 